<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872882726732-rehj4sp7v9ckjnjab5qlac1hm054s4qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872882726732-rehj4sp7v9ckjnjab5qlac1hm054s4qi</string>
	<key>API_KEY</key>
	<string>AIzaSyBRBtAU6QueTz1pix6Xv5FpcJFsiWvdJ3o</string>
	<key>GCM_SENDER_ID</key>
	<string>872882726732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appChatRealtime</string>
	<key>PROJECT_ID</key>
	<string>chatonline-cb019</string>
	<key>STORAGE_BUCKET</key>
	<string>chatonline-cb019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872882726732:ios:f2b121f2058f7be42fd1e9</string>
	<key>DATABASE_URL</key>
	<string>https://chatonline-cb019-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>